<!DOCTYPE html>
<html lang="en">

<%- include('../../public/template/head.ejs') %>

<body class="dark:bg-gray-900">
    <%- include('../../public/template/navbar.ejs') %>


    <%
    let name = ''
    let type = ''
    let gender = ''
    let age = ''
    let price = ''

    if(data !== undefined) {
        name = data.name_032
        type = data.type_032
        gender = data.gender_032
        age = data.age_032
        price = data.price_032
    }
    %>

    <!-- Flash message -->
    <% if (locals.success) { %>
          <%- locals.success %>
      <% } %>
      <% if (locals.failed) { %>
          <%- locals.failed %>
      <% } %>
    <form action="" method="post" class="max-w-md mx-auto mt-10">
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="name_032" id="floating_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="<%= name %>" required />
            <label for="floating_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
        </div>
        
        <div class="relative z-0 w-full mb-5 group">
            <label for="underline_select" class="text-sm text-gray-500 dark:text-gray-400 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Type</label>
            <select id="underline_select" name="type_032" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-white dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                <option selected class="dark:bg-gray-900">Choose type</option>
                <% categories.forEach(category => { %>
                    <option class="dark:bg-gray-900" value="<%= category.category_name_032 %>" <%= type == category.category_name_032 ? 'selected' : '' %>><%= category.category_name_032 %></option>
                <% }) %>
            </select>
        </div>

        <div class="relative z-0 w-full mb-6 group">
            <label for="underline_select" class="text-sm text-gray-500 dark:text-gray-400 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Gender</label>
            <div class="flex mt-2.5">
                <div class="flex items-center me-4">
                    <input id="inline-radio" type="radio" value="Male" name="gender_032" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" <%= gender == 'Male' ? 'checked' : '' %> required>
                    <label for="inline-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Male</label>
                </div>
                <div class="flex items-center me-4">
                    <input id="inline-2-radio" type="radio" value="Female" name="gender_032" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" <%= gender == 'Female' ? 'checked' : '' %> required>
                    <label for="inline-2-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Female</label>
                </div>
            </div>
        </div>

        <div class="relative z-0 w-full mb-6 group">
            <div class="relative z-0 w-full mb-5 group">
                <input type="number" name="age_032" id="floating_age" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="<%= age %>" required />
                <label for="floating_age" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Age (month)</label>
            </div>
        </div>

        <div class="relative z-0 w-full mb-5 group">
            <div class="relative z-0 w-full mb-5 group">
                <input type="number" name="price_032" id="floating_price" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="<%= price %>" required />
                <label for="floating_price" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Price ($)</label>
            </div>
        </div>

        <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" name="submit">Save</button>

        <a href="/cats?page=1">
            <button type="button" class="text-white bg-gradient-to-r from-yellow-500 via-yellow-600 to-yellow-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:focus:ring-yellow-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" name="submit">Cancel</button>
        </a>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="/template/darkmode/switchMode.js"></script>
</body>

</html>