<?php
defined('BASEPATH') or exit('No direct script access allowed');
?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CATSHOP 032</title>
</head>

<body>
    <h1>CATSHOP 032</h1>
    <h3>CAT SOLD DETAIL</h3>
    <a href="/cats/sales">
        <h4>BACK</h4>
    </a>
    <hr>
    <table>
        <tr>
            <td>Cat ID</td>
            <td>: <%= cat.id_032 %></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>: <%= cat.name_032 %></td>
        </tr>
        <tr>
            <td>Type</td>
            <td>: <%= cat.type_032 %></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>: <%= cat.gender_032 %></td>
        </tr>
        <tr>
            <td>Age (month)</td>
            <td>: <%= cat.age_032 %></td>
        </tr>
        <tr>
            <td>Price</td>
            <td>: $<%= cat.price_032 %></td>
        </tr>
    </table>
</body>

</html>