<!DOCTYPE html>
<html lang="en">
  <%- include('../public/template/head.ejs') -%>

  <body class="dark:bg-gray-900">
    <%- include('../public/template/navbar.ejs') %>

    <div class="flex items-center justify-center mt-10">
      <div>
        <h1
          class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl text-center mt-5"
        >
          Welcome
          <span
            class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600"
            ><%= user.fullname %></span
          >
        </h1>

        <img
          class="h-auto max-w-sm mx-auto mt-5 rounded-full"
          src="../../uploads/users/<%= user.photo %>"
          alt="image description"
        />

        <p
          class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 text-center mt-5 mb-10"
        >
          You are login as <%= user.usertype %>
        </p>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="../template/darkmode/switchMode.js"></script>
  </body>
</html>
