<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CATSHOP 032</title>
  </head>
  <body>
    <h1>CATSHOP 032</h1>
    <h3>CATEGORIES LIST</h3>
    <a href="/">
      <h4>HOME</h4>
    </a>
    <hr />
    <!-- Flash message -->
    <% if (locals.success) { %>
      <p style="color:green;">
        <%= locals.success %>
      </p>
    <% } %>
    <% if (locals.failed) { %>
      <p style="color: red;">
        <%= locals.failed %>
      </p>
    <% } %>
    <a href="/categories/add">Add new category</a>
    <hr />
    <table border="1">
      <tr>
        <th>No</th>
        <th>Category Name</th>
        <th>Description</th>
        <th colspan="2">Action</th>
      </tr>
      <% let i = 1; categories.forEach(category => { %>
      <tr>
        <td><%= i++; %></td>
        <td><%= category.category_name_032 %></td>
        <td><%= category.description_032 %></td>
        <td><a href="/categories/edit/<%= category.category_id_032 %>">Edit</a></td>
        <td>
          <a
            href="/categories/delete/<%= category.category_id_032 %>"
            onclick="return confirm('Are you sure?')"
            >Delete</a
          >
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
