<!DOCTYPE html>
<html lang="en">

<%- include('../../public/template/head.ejs') -%>

<body>
    <h1>CATSHOP 032</h1>
    <h3>CATEGORY FORM</h3>
    <hr>
    <%
    let category_name = ''
    let description = ''

    if(data !== undefined) {
        category_name = data.category_name_032
        description = data.description_032
    }
    %>

    <!-- Flash message -->
    <% if (locals.success) { %>
          <%- locals.success %>
      <% } %>
      <% if (locals.failed) { %>
          <%- locals.failed %>
      <% } %>
    <form action="" method="post">
        <table>
            <tr>
                <td>Category Name</td>
                <td><input type="text" name="category_name_032" value="<%= category_name %>" required></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea name="description_032" cols="30" rows="10"><%= description %></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="SAVE" name="submit">
                    <a href="/categories"><input type="button" value="CANCEL"></a>
                </td>
            </tr>
        </table>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>